<!DOCTYPE html>
<html>
    <head>
        ###header###
        <title>Information - Zen Sick</title>
    </head>
    <body>
        ###navbarart###
        <div class="footerref">
            <div class="textmain">
                <div id="about">
                    <h2>FAQ</h2>
                    <p><b>Q: Кто вы такие?</p></b>
                    <p><b>A:</b> Мы - группа людей, которая стремится поделиться с читателем своим мнением по поводу происходящего в мире, передать свое впечатление от новой музыки или только что прочитанной книги. Иногда просто пишем о наболевшем. </p>

                    <p><b>Q: А это разве не просто очередной коллективный блог? </p></b>
                    <p><b>A:</b> Мы пока сами не знаем. Сейчас занимаемся сайтом и публикуем то, что нам интересно, в обозримом будущем начнем выпускать полноценный журнал. </p>

                    <p><b>Q: Насколько часто будет выходить новый контент? </p></b>
                    <p><b>A:</b> Первое время - 3-4 статей еженедельно, потом будем писать чаще. </p>

                    <p><b>Q: Мне тоже хочется писать статьи про то, что мне нравится. Можно ли будет публиковаться у вас? </p></b>
                    <p><b>A:</b> А почему нет? Напишите нам на почту, адрес указан чуть ниже. </p>

                </div>
                <div id="authors">
                    <h2>Авторы</h2>
                        <div id="aut1">
                                <p>Марк Лино</p>
                                <p>А. Будкин <a href="https://twitter.com/Lehageltij">@Lehageltij</a></p>
                                <p>Desyu Rinsu <a href="https://twitter.com/rinsdesyu">@rinsdesyu</a></p>
                                <p>А. Соколов <a href="https://twitter.com/andre_sokol">@andre_sokol</a></p>
                                <p>И. Овсянников </p>
                        </div>
                </div>
					
                <div id="contact">
                    <h2>Связаться с нами</h2>
                    <p>Оставьте свою электропочту, чтобы мы включили вас в свою новостную рассылку (пока ее нет, но скоро, возможно, появится).</p>
					
					<script>
						var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;  /// some regexp shit
						$(document).ready(function() {
							$('#email_button').on('click', function() {
								var email = $('#email').val(),
									name = $('#name').val();
								if(name && re.test(email)) {
									$.ajax({
										url: '/ajax/add_email',
										type: 'POST',
										data: {email: email, name: name},
										success: function (msg) {
											$('#email_button').animate({backgroundColor: '#006500'});
											$('#email_button').val('Ждите писем!');
											$('#email_button').prop('disabled', true);
											$('#email_button').css('cursor', 'default');
										}
									});
								} else {								
									$('#email_button').animate({backgroundColor: '#ba0000'});
									$('#email_button').val('Что-то не так!');
								}
							});
						});
					</script>
					
                    <form name="contact_form">
                        <input type="text" name="name" placeholder="Как вас зовут?" id='name'>
                        <input type="text" name="email" placeholder="Куда вам писать?" id='email'>
                        <input type="button" value="Подписаться" id='email_button'>
                    </form>
					
                    <div id="email">
                        <p>Наш электронный адрес:</p>
                        <h2>headquarters@zensick.net</h2>
                    </div>
					
                </div>
            </div>
        </div>

        <div class="bars">
			###footer###
        </div>
    </body>
</html>