<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="ya-dock=#fff,width=device-width,initial-scale=1">
        <meta name="description" content="Про наше издание и авторов, а также контакты">
        <META NAME="ROBOTS" CONTENT="INDEX, NOFOLLOW">
        <link rel="stylesheet" type="text/css" href="/public/main.css">
        <link href='http://fonts.googleapis.com/css?family=PT+Sans&subset=cyrillic-ext,latin' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="/public/js/main.js"></script>
        <link rel="shortcut icon" href="/public/img/favicon1.png" type="image/png">
		<script src="/public/js/SlickNav-master/jquery.slicknav.js"></script>
		<script src="http://www.bitstorm.org/jquery/color-animation/jquery.animate-colors-min.js"></script>
		<link href="/public/slicknav.css" rel="stylesheet" type="text/css">
		<script>
			$(function () {
				$('#nyaa').slicknav({
					prependTo: '#nav_bar',
					label: ''
				});
			});
		</script>
        <title>Information - Zen Sick</title>
    </head>
    <body>
        <div class="bars">
            <div class="NavBar" id="nav_bar">
                <div id="zensick">
                    <a href="/"><img src="/public/img/nav1.png"></a>
                </div>
                    <ul id="nyaa">
                        <li><div id="hyperlink"><a href="/">Zen Sick</a></div></li>
                        <li><a href="/img">ART</a></li>
                        <li><a href="/music">MUSIC</a></li>
                        <li><a href="/literature">LITERATURE</a></li>
                        <li><a href="/article">ARTICLES</a></li>
                    </ul>
            </div>
        </div>
	    <div class="bars" style="opacity:0; height:50px;">this must be invisible</div>
        <div class="footerref">
            <div class="textmain">
                <div id="about">
                    <h2>FAQ</h2>
                    <p><b>Q: Кто вы такие?</p></b>
                    <p><b>A:</b> Мы - группа людей, которая стремится поделиться с читателем своим мнением по поводу происходящего в мире, передать свое впечатление от новой музыки или только что прочитанной книги. Иногда просто пишем о наболевшем. </p>

                    <p><b>Q: А это разве не просто очередной коллективный блог? </p></b>
                    <p><b>A:</b> Мы пока сами не знаем. Сейчас занимаемся сайтом и публикуем то, что нам интересно, в обозримом будущем начнем выпускать полноценный журнал. </p>

                    <p><b>Q: Насколько часто будет выходить новый контент? </p></b>
                    <p><b>A:</b> Первое время - 3-4 статей еженедельно, потом будем писать чаще. </p>

                    <p><b>Q: Мне тоже хочется писать статьи про то, что мне нравится. Можно ли будет публиковаться у вас? </p></b>
                    <p><b>A:</b> А почему нет? Напишите нам на почту, адрес указан чуть ниже. </p>

                </div>
                <div id="authors">
                    <h2>Авторы</h2>
                        <div id="aut1">
                                <p>Марк Лино</p>
                                <p>А. Будкин <a href="https://twitter.com/Lehageltij">@Lehageltij</a></p>
                                <p>Desyu Rinsu <a href="https://twitter.com/rinsdesyu">@rinsdesyu</a></p>
                                <p>А. Соколов <a href="https://twitter.com/andre_sokol">@andre_sokol</a></p>
                                <p>И. Овсянников </p>
                        </div>
                </div>
					
                <div id="contact">
                    <h2>Связаться с нами</h2>
                    <p>Оставьте свою электропочту, чтобы мы включили вас в свою новостную рассылку (пока ее нет, но скоро, возможно, появится).</p>
					
					<script>
						var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;  /// some regexp shit
						$(document).ready(function() {
							$('#email_button').on('click', function() {
								var email = $('#email').val(),
									name = $('#name').val();
								if(name && re.test(email)) {
									$.ajax({
										url: '/ajax/add_email',
										type: 'POST',
										data: {email: email, name: name},
										success: function (msg) {
											$('#email_button').animate({backgroundColor: '#006500'});
											$('#email_button').val('Ждите писем!');
											$('#email_button').prop('disabled', true);
											$('#email_button').css('cursor', 'default');
										}
									});
								} else {								
									$('#email_button').animate({backgroundColor: '#ba0000'});
									$('#email_button').val('Что-то не так!');
								}
							});
						});
					</script>
					
                    <form name="contact_form">
                        <input type="text" name="name" placeholder="Как вас зовут?" id='name'>
                        <input type="text" name="email" placeholder="Куда вам писать?" id='email'>
                        <input type="button" value="Подписаться" id='email_button'>
                    </form>
					
                    <div id="email">
                        <p>Наш электронный адрес:</p>
                        <h2>headquarters@zensick.net</h2>
                    </div>
					
                </div>
            </div>
        </div>
        <div class="bars">
			
			
			
            <div class="counter">
            <!-- Yandex.Metrika informer -->
            <a href="https://metrika.yandex.ru/stat/?id=29461140&amp;from=informer"
target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/29461140/1_0_EFEFEFFF_EFEFEFFF_0_pageviews"
style="width:80px; height:15px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры)" /></a>
            <!-- /Yandex.Metrika informer -->

            <!-- Yandex.Metrika counter -->
            <script type="text/javascript">
                (function (d, w, c) {
                    (w[c] = w[c] || []).push(function() {
                    try {
                            w.yaCounter29461140 = new Ya.Metrika({id:29461140,
                            trackLinks:true,
                            accurateTrackBounce:true});
                        } catch(e) { }
                    });

                    var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
                    s.type = "text/javascript";
                    s.async = true;
                    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

                    if (w.opera == "[object Opera]") {
                        d.addEventListener("DOMContentLoaded", f, false);
                    } else { f(); }
                })(document, window, "yandex_metrika_callbacks");
            </script>
            <noscript><div><img src="//mc.yandex.ru/watch/29461140" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
            <!-- /Yandex.Metrika counter -->
        </div>
			
			
			
        <div class="lowbar">
            <ul>
                <li><a href="/about">FAQ</a></li>
                <li><a href="/about#authors">Authors</a></li>
                <li><a href="/about#contact">Contact Us</a></li>
                <li><p>©Zen Sick Webzin. 2015.</p></li>
            </ul>
        </div>
    </div>
    </body>
</html>