<html>
<head>
    <title>Brand New Main</title>
    ###header###
    <script src="/public/js/new_main.js"></script>
</head>
<body>
    <div id='main_container'></div>
    
    <style>
        #main_container {
            width: 100%
        }
        
        .line {
            height: 100px;
            margin-top: 10px;
            width: 100%;
            display: inline-flex;
        }
        
        .line>div {
            background: yellow;
            margin-left: 20px;
        }
        
        .one {
            width: 100%;
        }
        
        .two {
            width: 50%;
        }
        
        .three {
            width: 30%;
        }
        
    </style>
</body>
</html>