body {
    background-image: url(/public/img/teentimesbg2.png);  
    background-size: auto;
    background-repeat: auto;
}

/* column main */

.column:not(#edit) {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}
.column>div {
    padding 2vw;
    background: #fff;
    font-family: PT Sans, monospace;
    text-align: left;
    width: 100%;
    border: white solid;
    box-shadow: 5px 5px 5px #888888;
}
.column>div p {
    margin-left: 3vw;
    margin-right: 3vw;
}
.column>div h3 {
    text-align: center;
    font-size: 22px;
}
.column>div h2 {
    text-align: center;
    font-size: 24px;
}
.column>div h1 {
    text-align: center;
    font-size: 28px;
}
.column>div h4 {
    text-align: center;
    font-size: 20px;
}
.column>div h5 {
    text-align: center;
    font-size: 18px;
}
.column>div h6 {
    text-align: center;
    font-size: 16px;
}
.column>div li>p {
    margin-left: 0!important;
}
.column>div pre {
    margin-left: 5%;
    margin-right: 5%;
    font-family: Cutive Mono, monospace;
    max-width: 90%;
    white-space: pre-wrap;
    background-color: #e3e3e3;
    padding: 2%;
}
.column>div blockquote {
    text-align: left;
    font-style: italic;
    font-size: 16px;
}
.column>div ol {
    margin-left: 3vw;
    margin-right: 3vw;
}
.column>div ul {
    margin-left: 3vw;
    margin-right: 3vw;
}
.column>div hr {
    margin: 3%;
}
.column>div p a {
    text-decoration: underline;
}
.column a.cut {
    color: #424242;
    text-decoration: none;
    user-select: none;
    background: #e1e1e1;
    padding: 3px 5px;
    outline: none;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
} 
.column>a.cut:hover { 
    background: #d4d4d4;
    color: #2d2d2d;
}
.column>a.cut:active {
    background: #c5c5c5;
    color: #2d2d2d;
}

/* articles */

.article {
    background: #fff;
	width:100%;
    font-family: PT Sans, monospace;
    text-align: left;
    border: white solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
    box-shadow: 5px 5px 5px #888888;
}
.article a {
    text-decoration: none;
    color: #000;
}
.article a:hover {
    text-decoration: none;
    color: #000;
    opacity: 0.6;
}

.article img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 725px;
}

/* literature */

.literature {
    background: #fff;
	width:100%;
    font-family: PT Sans, monospace;
    text-align: left;
    border: white solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
    box-shadow: 5px 5px 5px #888888;
}
.literature a {
    text-decoration: none;
    color: #000;
}
.literature a:hover {
    text-decoration: none;
    color: #000;
    opacity: 0.6;
}

.literature img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 725px;
}

/* images */

.img {
    background: #fff;
    font-family: PT Sans, monospace;
    text-align: left;
    width: 100%;
    border: white solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px #888888;
}
.img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 725px; 
}
.img a {
    color: #000;
    text-decoration: none;
}
.img a:hover {
    color: #000;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.7;
}

/* music */

.music a {
    color: #000;
    text-decoration: none;
}
.music {
    background: #fff;
    font-family: PT Sans, monospace;
    text-align: left;
    width: 750px;
    border: white solid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    box-shadow: 5px 5px 5px #888888;
}
.music #iframe {
    text-align:center;
    width: 100%;
}
#iframe {
    text-align: center;
    width: 350px;
    margin-bottom: 5px;
}
.music a:hover {
    color: #000;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.7;
}

/* bars */

.bars {
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
}

.invis {
    display: block;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.95;
    width: 98vw;
    height: 50px;
    position: relative;
}

/* header */

.Header {
    background-color: #fff;
    opacity: 0.8;
    border: solid white 1vw; 
    z-index: 0;
    position: relative;
    z-index: 0;
    width: 96vw;
}
.Header h1 {
    font-family: Shadows Into Light, sans-serif;
    font-size: 54px;
    text-align: center;
    margin: 75px;
}
.Header a {
    color: #000;
    text-decoration: none;
}
.Header a:hover {
    background-color: #fff;
    opacity: 0.6;
}
.Header p {
    font-family: PT Sans, monospace;
    font-size: 20px;
    text-align: center;
}

/* navigation bar */

.NavBar {
    background-color: #2f4cd6;
    position: fixed;
    z-index: 2;
    display: block;
    opacity: 0.95;
    text-align: center;
    height: 50px;
    width: 98vw;
}   
.NavBar #zensick {
    display: inline-block;
    width: 50px;
    height: inherit;
}
.NavBar #nyaa {
    display: inline-block;
    position: relative;
    margin: 0;
    top: -40%;
}
.NavBar #nyaa1 {
    display: inline-block;
    position: relative;
    margin: 0;
    top: 35%;
}
.NavBar #hyperlink {
    text-align: center;
    display: inline-block;
    height: inherit;
    font-family: Shadows Into Light, sans-serif;
    margin-left: -40px;
    margin-bottom: 10px;
}
.NavBar #nyaa #hyperlink a {
    text-decoration: none;
    color: #fff;
    text-transform: none;
}
.NavBar #nyaa #hyperlink a:hover {
    text-transform: none;
}
.NavBar #nyaa li {
    font-family: Cutive Mono, monospace;
    display: inline-table;
    padding-right: 35px;
    margin: 0;
}
.NavBar #nyaa1 li {
    font-family: Cutive Mono, monospace;
    display: inline-table;
    padding-right: 35px;
    margin: 0;
}
.NavBar #nyaa a {
    text-decoration: none;
    color: #fff;
    text-transform: none;
}
.NavBar #nyaa a:hover {
    text-decoration: none;
    text-transform: lowercase;
}
.NavBar #nyaa1 a {
    text-decoration: none;
    color: #fff;
    text-transform: none;
}
.NavBar #nyaa1 a:hover {
    text-decoration: none;
    text-transform: lowercase;
}
.NavBar img {
    display: inline-block;
    width:50px;
    height:50px;
    margin:0;
    padding: 0;
}
/* footer */

.lowbar {
    background-color: #fff;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.85;
    width: 100%;
}
.lowbar ul {
    text-align: center;
}
.lowbar li {
    font-family: PT Sans, monospace;
    font-size: 12px;
    display: inline-table;
    margin-top: auto;
    margin-right: 15px;
    padding-right: 50px;
}
.lowbar a {
    text-decoration: none;
    color: #000;
}
.lowbar a:hover {
    text-decoration: underline;
}

/* page number */
.pages {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.pages span.currentpage {
    font-family: PT Sans, monospace;
    color: #000;
    font-size: 24px;
    padding: 0 5px;
    margin: 0 3px;
    font-weight: bold;
}
.pages a.alterpage {
    font-family: PT Sans, monospace;
    color: #000;
    font-size: 24px;
    padding: 0 5px;
    margin: 0 3px;
    font-weight: bold;
}
.pages a.alterpage:hover {
    opacity: 0.75;
}

/* captures & time & tags */

img + strong /* former #imgcap */ {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 725px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}
#time {
    text-align: right;
    font-weight: bold;
    font-size: 11px;
    margin-right: 5px;
    margin-bottom: 5px;
}
.tags {
    font-size: 14px;
    margin-left: 20px;
    margin-top: 10px;
}
.tags a {
    color: #aeaeae;
}
#disqus_thread {
    margin:8px;
}
.pluso {
    margin-top: 4%;
    margin-left: 3%;
}

/* footref */

.footerref {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.footerref .textmain {
    background: #fff;
    font-family: PT Sans, monospace;
    width: 100%;
    border: white solid;
    box-shadow: 5px 5px 5px #888888;
    padding: 15px;
    margin-top: 10px;
}
.footerref .textmain #about {
    text-align: left;
    padding: 10px;
}
.footerref .textmain #about h2 {
    text-align: center;
}
.footerref .textmain #authors {
    display: block;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}
.footerref .textmain #authors h2 {
    text-align: center;
}
.footerref .textmain #authors ul {
    display: inline-table;
    margin-right: 15px;
    padding-right: 50px;
}
.footerref .textmain #authors li {
    display: inline-table;
}
.footerref .textmain #authors a {
    color: dodgerblue!important;
    text-decoration: none;
}
.footerref .textmain #authors a:hover {
    color: #3360ff!important;
}
.footerref .textmain #authors img {
    border-radius: 100%;
    background: #fff;
    width: 150px;
    height: 150px;
}
.footerref .textmain #contact {
    font-family: PT Sans, monospace;
    text-align: center;
    margin-bottom: 20px;
}
.footerref .textmain form input {
    border: 0;
    padding: 10px;
    font-size: 18px;
    background: #eaeaea;
}
.footerref .textmain #contact input[type="button"] {
    background: #195da1;
    color: #fff;
	cursor: pointer;
	width: 136px;
}
.footerref .textmain #contact input[type="button"]:hover {
    background: #154e86;
}

/* e-mail + 404 */

#email h2 {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
#email p {
    margin-top: 25px;
}
.nfound {
    background-color: #AEAEAE;
    background-image: none;
}
.nfound>.nfound1 {
    margin-left: auto;
    margin-right: auto;
    height: 640px;
    width: 480px;
}

.slicknav_menu {
	display: none;
}

/* author */

.author {
    margin-left: 2vw;
}
.author h1 {
    font-size: 16px!important;
    text-align: left!important;
    margin: 0;
}
.author p {
    font-size: 14px;
    margin: 0;
}
.author img {
    width: 3vw;
    margin: 0;
}
.counter {
    display: none;
}


/*----------------------------------------------------*/
/*----------------------------------------------------*/
/*----------------------------------------------------*/



/* media query */

@media only screen and (max-width: 750px) {
    body {
        background-image: url(/public/img/mobg.png);
		margin: 0;
    }
	.column {
		width:92%!important;
	}
    .column>div {
        margin-top: 3vw;
    }
	.footerref {
		width:97%!important;
        margin-top: 3vw;
	}
	.footerref .textmain {
		padding:0px;
	}
    .article img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 85vw;
    }
    .img img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        max-width: 85vw; 
    }
    .music #iframe {
        text-align: center;
        width: 70%;
    }
    #disqus_thread {
        margin:1%;
    }
	.footerref>.textmain>div {
		margin:15px;
	}
	.lowbar {
		padding-top: 5px;
	}
	#nyaa1 {
		display: none!important;
	}
	#nyaa {
		display: none!important;
	}
	.slicknav_menu {
		display: block;
	}
	.NavBar {
		width: 100%!important;
	}
	#nav_bar_cnt {
		width: 100%!important;
	}
	.invis {
		width: 100%;
		position: inherit;
	}
	#zensick {
		display: none!important;
	}
    .author {
        margin-left: 2vw;
        width: 60vw;
        padding: 0;
    }
    .author img {
        margin: 0;
        width: 10vw;
    }
    .nfound {
        background-color: #AEAEAE;
        background-image: url(img/404.png)!important;
        background-size: cover;
    }   
    .nfound a img {
        width: 100%;
        height: auto;
    }
    a.cut {
        color: #424242;
        text-decoration: none;
        user-select: none;
        background: #e1e1e1;
        padding: 5vw 3vw;
        outline: none;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 2px;
    } 
    a.cut:hover { 
        background: #d4d4d4;
        color: #424242;
    }
    a.cut:active {
        background: #c5c5c5;
        color: #424242;
    }
    .tags {
        font-size: 14px;
        margin-left: 5vw;
        margin-top: 10px;
    }
    .tags a {
        color: #aeaeae;
    }
    .lowbar li {
        font-family: PT Sans, monospace;
        font-size: 12px;
        display: inline-table;
        margin-top: auto;
        margin-right: 5vw;
        padding-right: 5vw;
    }
    .pages span.currentpage {
        font-family: PT Sans, monospace;
        color: #000;
        font-size: 24px;
        padding: 0 5px;
        margin: 0 3px;
        font-weight: bold;
        background: #ffffff;
    }
    .pages a.alterpage {
        font-family: PT Sans, monospace;
        color: #000;
        font-size: 24px;
        padding: 0 5px;
        margin: 0 3px;
        font-weight: bold;
        background: #ffffff;
    }
    .pages a.alterpage:hover {
        opacity: 1;
    }
}