<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="ya-title=#2f4cd6,ya-dock=#fff,width=device-width,initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/public/main.css">
        <link href='http://fonts.googleapis.com/css?family=PT+Sans&subset=cyrillic-ext,latin' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="/public/js/main.js"></script>
        <link rel="shortcut icon" href="/public/img/favicon1.png" type="image/png">
		<script src="/public/js/SlickNav-master/jquery.slicknav.js"></script>
		<link href="/public/slicknav.css" rel="stylesheet" type="text/css">
        <title>Гайдлайн - Zen Sick</title>
    </head>
    <body>
        <div class="column">
            <div class="article">
				<h2>Гайдлайн<em>ъ</em> по рецензиям<br>для развлекательного сайта Zensick.net</h2>
				<p><strong>1</strong><br>Стройте план своего текста. Не нужно делить описываемое детище некоторого музыканта/режиссера/порноактера/твоей мамаши на привычные детали по типу: “Музыка, геймплей, сиськи Ерохиной, вердикт”. Вам нужно, чтобы части текста вытекали друг из друга, имели особую последовательность, но при этом не скатывались в муторный отзыв пятиклассника с сутью из слов “Мне нравиццо”. Шапка, бэкграунд, кишки, завершение. Только не перепутайте с сочинением по русскому языку на ЕГЭ, а то вдруг.</p>
				<p><strong>2</strong><br>Не бойтесь видоизменять предложения. Порой у нас получаются не самые лучшие формулировки, так что нет ничего кощунственного в том, чтобы избавиться от криво построенной фразы и заменить ее охуенным высказыванием.</p>
				<p><strong>3</strong><br>Будьте точны. Это важно. Если вы будете мутить воду, то нас изобьют негодующие два с половиной читателя. А тогда мы убьем вас.</p>
				<p>Да и камон, выражайте мысли наиболее точно. Нет подходящего слова, чтобы описать сцену, где Саша Грей ВНЕЗАПНО кончила? Найдите, чо.</p>
				<p><strong>4</strong><br>Шкала оценивания. Мы изначально отказались от десятибалльной шкалы, потому что порой гипотетическая восьмерка не может передать эмоций при просмотре/прослушивании той или иной искусство-приблуды. Есть два возможных варианта - ДА или НЕТ. Выбор можно (и нужно) сопровождать комментарием.</p>
				<p><strong>5</strong><br>Теги. Действуйте по мере наглости. Оставьте только существительные, которые действительно наводят на мысль об описанном. Опознавательные знаки авторов в тегах нахрен не нужны, у вас и так есть подпись в подвале поста. Лишний раз избегайте пространных формулировок. И это, теги только на РУССКОМ языке, если описывается не название того или иного тайтла. Без решеток, пробелов и прочей трехомудии. Теги с нижним подчеркиванием на несколько слов допустимы, но по возможности избегайте.</p>
				<p><strong>В противном случае идите сосать хуи.</strong></p>
        	</div>
		</div>
	</body>
</html>