<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="ya-title=#2f4cd6,ya-dock=#fff,width=device-width,initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/public/main.css">
        <link href='http://fonts.googleapis.com/css?family=PT+Sans&subset=cyrillic-ext,latin' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="/public/js/main.js"></script>
        <link rel="shortcut icon" href="/public/img/favicon1.png" type="image/png">
		<script src="/public/js/SlickNav-master/jquery.slicknav.js"></script>
		<link href="/public/slicknav.css" rel="stylesheet" type="text/css">
        <title>Мануал по написанию постов - Zen Sick</title>
    </head>
    <body>
        <div class="column">
            <div class="article">
                <h2>Мануал по разметке</h2>
			    <p>Посты рендерятся с помощью языка разметки Markdown. Нижеследующая памятка расскажет подробнее, как писать посты, выделять слова курсивом/подчеркиванием/зачеркиванием, вставлять картинки с подписями, делать подзаголовки, вставлять цитаты, в общем, делать красиво.</p>
<c></c>

<h4 id="-">Абзацы</h4>
<p>Абзацы в markdown'е - куски теста, разделенные хотя бы одной пустой строкой. Если два куска текста отделены только переводом строки, markdown склеит их в один абзац. Для перевода строки в пределах одного абзаца нужно перед переводом строки поставить не менее четырех пробелов.</p>
<p>Следующая запись:</p>
<pre><code>Первая строка.    /* перевод строки */
Вторая строка.

Третья строка. /* перевод строки */
И это тоже третья строка.
</code></pre><p>сгенерирует</p>
<blockquote>
<p>Первая строка.<br>Вторая строка.</p>
<p>Третья строка.
И это тоже третья строка.</p>
</blockquote>
<h4 id="-">Кат</h4>
<p>Добавить кат в пост можно добавлением <code>&lt;c&gt;</code> в нужное место.</p>
<h4 id="-">Подзаголовки</h4>
<p>Markdown позволяет варьировать заголовки с уровнями от 1 по 6. 1 - самый крупный, 6 - самый маленький. Заголовок второго уровня совпадает по размеру с названием поста, по сему в качестве подзаголовков 1 и 2 лучше не использовать.</p>
<p>Для выделения подзаголовка надо в начале строки поставить знаки #, где их количество совпадает с уровнем подзаголовка:</p>
<pre><code># Level 1
## Level 2
### Level 3
#### Level 4
##### Level 5
###### Level 6
</code></pre><p>сгенерирует</p>
<h1 id="level-1">Level 1</h1>
<h2 id="level-2">Level 2</h2>
<h3 id="level-3">Level 3</h3>
<h4 id="level-4">Level 4</h4>
<h5 id="level-5">Level 5</h5>
<h6 id="level-6">Level 6</h6>
<h4 id="-">Акценты</h4>
<p>Markdown позволяет выделять слова <em>курсивом</em>, <strong>жирным шрифтом</strong> и <del>зачеркиванием</del>.</p>
<pre><code>*Это курсив*, и _это тоже_.
**Это bold**, и __это тоже__.
А это _**и курсив**_, __*и bold*__.
А это - ~~самая полезная фича~~.
</code></pre><p>сгенерирует</p>
<p><em>Это курсив</em>, и <em>это тоже</em>.<br><strong>Это bold</strong>, и <strong>это тоже</strong>.<br>А <em><strong>это и курсив</strong></em>, <strong><em>и bold</em></strong>.<br>А это - <del>самая полезная фича</del>.    </p>
<h4 id="-">Изображения</h4>
<p>Технология вставления изображений в пост на этом сайте немного отличается от официальной markdown'овской. </p>
<pre><code>Картинка:

![текст-плейсхолдер](http://zensick.net/public/img/userpics/Ian_McKellen.jpg "Курсор навели на картинку") **подпись**
</code></pre><p>Картинка:</p>
<p><img src="http://zensick.net/public/img/userpics/Ian_McKellen.jpg" alt="текст-плейсхолдер" title="Курсор навели на картинку"> <strong>подпись</strong></p>
<h4 id="-">Ссылки</h4>
<p>Синтаксис ссылок очень похож на синтаксис изображений:</p>
<pre><code>[Это гугл](https://google.com)    
[Куда ведет эта ссылка, можно узнать, наведя на нее курсор](https://vk.com/ "vk.com")    
</code></pre><p>что даст</p>
<p><a href="https://google.com">Это гугл</a><br><a href="&quot;https://vk.com/" title="vk.com">Куда ведет эта ссылка, можно узнать, наведя на нее курсор</a>    </p>
<h4 id="-">Цитаты</h4>
<p>Цитаты - всегда круто, и, <em>о боже мой</em>, они здесь есть!</p>
<pre><code>&gt; Товарищи бойцы! Наша скорбь безмерна.    
&gt; Злодейски убит товарищ Фанерный.    
&gt; И вот уже нет у нас в ЧК    
&gt; Старейшего большевика.    

Люблю Пелевина.

&gt; Товарищи бойцы! Сплотим ряды, споем что-нибудь хором,    
&gt; И ответим белой сволочи революционным террором!    
</code></pre><p>А выглядит это вот так:</p>
<blockquote>
<p>Товарищи бойцы! Наша скорбь безмерна.<br>Злодейски убит товарищ Фанерный.<br>И вот уже нет у нас в ЧК<br>Старейшего большевика.    </p>
</blockquote>
<p>Люблю Пелевина.</p>
<blockquote>
<p>Товарищи бойцы! Сплотим ряды, споем что-нибудь хором,<br>И ответим белой сволочи революционным террором!    </p>
</blockquote>
<p>Цитаты могут быть многоуровневыми, хоть я и не представляю, зачем это может понадобиться.</p>
<h4 id="-">Выделение моноширинным текстом</h4>
<p>Написать что-то моноширинным текстом можно тремя способами. </p>
<ul>
<li>Если делать в начале строки отступ на четыре пробела, то вся строка будет выделена.</li>
<li>Аналогичного результата можно добиться, заключив несколько строк в три апострофа( ``` ).</li>
<li>Для выделения <code>небольших кусков текста</code> нужно заключить этот текст в апострофы( ` ).</li>
</ul>
<h4 id="-">Списки</h4>
<p><em>В следующем примере все пробелы показаны точками<code>(⋅)</code>.</em></p>
<pre><code>1. Первый элемент пронумерованного списка
2. Еще один элемент
⋅⋅* Ненумерованный под-список 
1. Markdown'у плевать, что ты гуманитарий и прогуливал математику. (просто напиши цифру)
⋅⋅1. Пронумерованный под-список
4. И еще элемент.

⋅⋅⋅Можно разбивать на абзацы и внутри элемента. Для выравнивания нужно написать пробелы перед строкой (хотя бы один, но я написал три, чтобы выравнять строки и внутри кода).

⋅⋅⋅Чтобы превести строку внутри одного абзаца, нужно добавить два пробела в конце.⋅⋅⋅⋅
⋅⋅⋅Как-то так.

* Элементы ненумерованных списков начинаются со звездочки
- Или минусов
+ Или плюсов
</code></pre><ol>
<li>Первый элемент пронумерованного списка</li>
<li>Еще один элемент<ul>
<li>Ненумерованный под-список </li>
</ul>
</li>
<li>Markdown'у плевать, что ты гуманитарий и прогуливал математику. (просто напиши цифру)<ol>
<li>Пронумерованный под-список</li>
</ol>
</li>
<li><p>И еще элемент.</p>
<p>Можно разбивать на абзацы и внутри элемента. Для выравнивания нужно написать пробелы перед строкой (хотя бы один, но я написал три, чтобы выравнять строки и внутри кода).</p>
<p>Чтобы превести строку внутри одного абзаца, нужно добавить несколько пробелов в конце.<br>Как-то так.</p>
</li>
</ol>
<ul>
<li>Элементы ненумерованных списков начинаются со звездочки</li>
<li>Или минусов</li>
<li>Или плюсов</li>
</ul>
<h4 id="-html-">Я знаю HTML, можно я буду использовать сразу его?</h4>
<p>Да!</p>
<p>Однако HTML внутри markdown'а работает не очень хорошо, так что лучше обходиться без него. Но, например, когда нужно встроить видео или музыку - без опаски вставляйте <em>embedded HTML</em> в тело поста.</p>
<h4 id="-markdown-">Мне нужно написать какой-то символ, но markdown прячет его</h4>
<p>Экранирование обратным слешем должно помочь в этом случае</p>
<pre><code>Хочу писать звездочки и знаки больше - \* \&gt;
</code></pre><blockquote>
<p>Хочу писать звездочки и знаки больше - * &gt;</p>
</blockquote>
        </div>
		</div>
</body>
</html>