<meta charset="utf-8">
<meta name="viewport" content="ya-dock=#fff,width=device-width,initial-scale=1">
<meta name="description" content="Цифровое издание об искусстве, современной культуре, веб-проектах, музыке, литературе и образе жизни">
<META NAME="ROBOTS" CONTENT="NOINDEX, FOLLOW">
<link rel="stylesheet" type="text/css" href="/public/main.css">
<link href='http://fonts.googleapis.com/css?family=PT+Sans&subset=cyrillic-ext,latin' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Cutive+Mono' rel='stylesheet' type='text/css'>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="/public/js/main.js"></script>
<script src="/public/js/SlickNav-master/jquery.slicknav.js"></script>
<link href="/public/slicknav.css" rel="stylesheet" type="text/css">
<link rel="canonical" href="/" />
<script>
	$(function () {
		$('#nyaa1').slicknav({
            prependTo: '#nav_bar',
            label: ''
		});
	});
</script>
<link rel="shortcut icon" href="/public/img/icons/favicon1.png" type="image/png">