<!DOCTYPE html>
<html style="height:100%;" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>404</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="public/404/404.css">
</head>

<body>
	<center>
        <div>
            <h2>You looked for something.</h2>
            <p>It's certainly not here.</p>
        </div>
		<img src="public/404/4041.png">
	</center>
</body> 