<!DOCTYPE html>
<html style="height:100%;" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>404 page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='http://fonts.googleapis.com/css?family=PT+Sans&subset=cyrillic-ext,latin' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/public/main.css">
</head>

<body class="nfound">
    <div class="nfound1">
        <a href="/"><img src="/public/img/404/404.png"/></a>
    </div>
</body> 